.about-para-position {
    margin: 100px;
    margin-top: 10px;
    max-width: 600px;
    text-align: justify;
    border-left: 4px solid;
    padding-left: 10px;
}

.social {
    display: flex;
    margin-top: 100px;
    margin-left: 100px;
}

.social>div {
    min-width: 50px;
    min-height: 50px;
}

#linkedin {
    background-image: url(../icons/light-linkedin-logo.svg);
    background-repeat: no-repeat;
}

#github {
    background-image: url(../icons/light-github-logo.svg);
    background-repeat: no-repeat;
}

#twitter {
    background-position-y: 5px;
    background-image: url(../icons/light-twitter-logo.svg);
    background-repeat: no-repeat;
}

.download {
    text-decoration: none;
    background-color: rgb(16, 140, 198);
    color: inherit;
    font-family: inherit;
    border-radius: 30px;
    margin: 300px;
    margin-bottom: 240px;
    height: 50px;
    width: 200px;
}
